:host {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 0 80px;
  align-items: center;
}

.img-container {
  width: 120px;
}

.img-container img {
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons-container a {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 14px 24px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--primary);

  color: var(--primary);

  font-size: 20px;

  cursor: pointer;
}

.buttons-container a img {
  width: 20px;
}

.buttons-container a.login-button {
  background-color: var(--primary);
  color: #fff;
}

a:hover {
  opacity: 0.85;
  filter: brightness(1.1);
  transition: 250ms opacity;
}

@media (max-width: 870px) {
  :host {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0 40px;
  }

  .buttons-container {
    gap: 12px;
  }

  .favorites-button label {
    display: none;
  }
}

@media (max-width: 440px) {
  :host {
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px 0 40px;
  }
}
