:host {
  border-radius: 8px;
  padding: 8px;
  transition: 150ms;
}

:host:hover {
  background-color: var(--primary);
  color: #fff;
  filter: brightness(1.2);
}

a {
  width: 100%;

  color: inherit;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
