<app-header></app-header>

<main>
  <div class="video-container">
    <button class="play-button">
      <img src="/img/onplay-sm.png" alt="Play no vídeo" />
    </button>
  </div>

  <div class="details-container">
    <div class="description-container">
      <h2>{{ (video | async)?.title || "" }}</h2>
      <p>{{ (video | async)?.description || "" }}</p>
    </div>

    <div class="actions-container">
      <button>
        @if((isFavorited | async)) {
        <img src="/icon/heart-fully.svg" />
        <label>Desfavoritar</label>
        } @else {
        <img src="/icon/heart.svg" />
        <label>Favoritar</label>
        }
      </button>
      <label class="views-label"
        >{{ (video | async)?.views || 0 }} visualizações</label
      >
    </div>
  </div>
</main>
