<app-header></app-header>

<main>
  <div class="video-container">
    <button class="play-button">
      <img src="/img/onplay-sm.png" alt="Play no vídeo" />
    </button>
  </div>

  <div class="details-container">
    <div class="description-container">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </div>

    <div class="actions-container">
      <button>
        <img src="/icon/heart.svg" />
        <label>Favoritar</label>
      </button>
      <label class="views-label">0 visualizações</label>
    </div>
  </div>
</main>
