<app-header></app-header>

<main>
  <h2>Vídeo recomendados para você:</h2>

  <div class="videos-container">
    <app-card-video
      [title]="'Vídeo 1'"
      [description]="'Descrição do vídeo'"
    ></app-card-video>
    <app-card-video
      [title]="'Vídeo 1'"
      [description]="'Descrição do vídeo'"
    ></app-card-video>
    <app-card-video
      [title]="'Vídeo 1'"
      [description]="'Descrição do vídeo'"
    ></app-card-video>
    <app-card-video
      [title]="'Vídeo 1'"
      [description]="'Descrição do vídeo'"
    ></app-card-video>
    <app-card-video
      [title]="'Vídeo 1'"
      [description]="'Descrição do vídeo'"
    ></app-card-video>
  </div>
</main>

<router-outlet />
